.landingpage{
    background-image: url("pizza image/chef.jpg");
    background-size: cover;
    height: 600px
    

}
.pizzahub{
    padding-top: 40px;
    font-family: 'Courgette', cursive;
    font-size: 40px;
}
.menu{
    padding-top: 15px;
}
.size{
    height: 200px;
    width: 300px;
}

.two{
    margin-top: 30px;
}

.aboutus{
padding: 100px;
}

.footer{
    padding-top:70px;
}